asgiref==3.11.1
Django==6.0.5
Pillow==11.3.0
dj-database-url==3.0.1
django-axes==8.0.0
psycopg[binary]==3.3.2
sqlparse==0.5.5
tzdata==2026.2
typing_extensions==4.15.0
vercel==0.10.0
whitenoise==6.9.0
